<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0 user-scalable=0" />
    <meta name="applicable-device"content="pc,mobile">
    <meta name="author" content="{{domain}}" />
    <title>{{htitle}}{{subtitle}}</title>
    <meta name="keywords" content="{{hkey}}">
    <meta name="description" content="{{hdescmeta}}">
    <link rel="shortcut icon" href="./assets/images/favicon.png">
    <!--<link rel="stylesheet" href="./assets/css/font-awesome.min.css">-->
	<link rel="stylesheet" href="https://apps.bdimg.com/libs/fontawesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/fcdh.css">
    <!--<script src="./assets/js/jquery-1.11.1.min.js"></script>-->
	<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/blueimp-md5/2.12.0/js/md5.min.js"></script>
	{{adshead}}
</head>
<body>
    <!-- 鏈€澶栧眰瀹瑰櫒 -->
    <div id="container">
        <div id="sidebar"class="toggle-others">
		<div class="ti-fix">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo">
                        <a href="/" class="logo-expanded">
                            <img src="./assets/images/logo@2x.png"alt="非常导航之电脑版本logo" />
                        </a>
                        <a href="/" class="logo-collapsed">
                            <img src="./assets/images/logo-collapsed@2x.png"alt="非常导航之手机版本logo" />
                        </a>
                    </div>
                </header>
                <ul id="menu"> 
                    {{sider}}
                </ul>
        </div>
</div>
        <div class="content">
			<div class="topnav">
            <nav class="navbar user-info-navbar" role="navigation">
                <!-- User Info, Notifications and Menu Bar -->
                <!-- Left links for user info navbar -->
                <ul class="user-info-menu">
                    <li id="ti-side">
                        <a href="#">
                            <i class="fa-bars"></i>
                        </a>
                    </li>					
                    <li id="ti-menu">
                        <a href="#">
                            <i class="fa-bars"></i>
                        </a>
                    </li>
					<li>
                        <div id="ti-search"class="searchs">
                            <form action="https://www.baidu.com/s" target="_blank" method="get">
								<div class="input-group">
									<img id="ti-icon"src="assets/images/baidu.png" alt="0">
									<ul id="ti-engine">
									</ul>				
									<!-- 搜索热词  -->
									<input id="txt"type="text" class="form-control" name="word" placeholder="随时搜索一下" maxlength="255"autocomplete="off">
									<span class="input-group-btn">
										<button type="submit"class="btn btn-primary fa-search">百度</button>
									</span>	
									<ul id="box">	
										
									</ul>	
								</div>
							</form>
                        </div>
                    </li>
                </ul>
            </nav>
			</div>
			<div id="main">
				<script src="assets/money/blogtop.js"></script>
				<h4><a><i class="fa-bookmark"></i> ID:{{hid}}</a> &nbsp; <span id="info"class="c9"></span></h4>
				<div class="ti-ulbg">
					<div class="rowx">
					<h2>{{htitle}}</h2>
					<p>{{tagso}}</p>
					<p><i class="fa-calendar"> {{htime}}</i> &nbsp; <i class="fa-eye" id="view"> {{hview}}</i></p>
					<hr>
					{{hdesc}}
					{{htag}}
					<hr>
					<ul class="rowx">
					<li>{{pre}}</li>
					<li>{{next}}</li>
					</ul>
					</div>
				</div>
			</div>
            <script src="assets/money/photomid.js"></script>
			<div class="endnav">
            <footer class="footer">
                    <div class="vcenter"> <span>Copyright © Since {{year}} <a href="/"><strong>{{title}}</strong></a>. All Rights Reserved.
					 </span><span>Powered By {{domain}}. <a href="https://beian.miit.gov.cn/"target="_blank">{{beian}}</a></span><span>{{tongji}}</span>
                    </div>
                    <div id="go-up">
                        <a href="#" rel="go-top"title="顶部">
                            <i class="fa-tree"></i>
                        </a>
                    </div>
            </footer>
			<div id="ti-meng"></div>
			</div>
		</div>
    </div> <!-- end 最处层容器 -->
	<!-- Scripts -->
	<script type="text/javascript" src="./assets/js/fcdh.js"></script>
	<script type="text/javascript">
		addHrefView({{hid}},'0',{{vip}});
	</script>
</body>
</html>
