*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{
	height: 100%;
	font-size:13px;
	-webkit-tap-highlight-color:transparent
}
body{
	height: 100%;
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
	color:#2c2e2f;
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
	border: none;
}
center{
	font-size:15px;
	font-weight:700;
}
p{margin:10px auto;padding:0;}
p label{font-size:15px;font-weight:700;color:gray}
p select{height:35px;padding:0 0 0 10px;}
p strong{color:red;}
a{color:gray;text-decoration:none;outline: 0!important}
a:hover{color:#444;}
h4{
	font-family:inherit;
	line-height:150%;
	margin:4px auto 0px auto;
	padding-bottom:2px;
	font-size:17px;1background:red;
}
h4 i{
	width:17px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0
}
.modal input[type=radio]{
	margin:8px 1px;

}
.logo img{border:none;}
.ti-sou{
	margin-top:8px;
}
.ti-block{display:block;}
.ti-sou,h4,.row,.rowx{margin-left:-15px;margin-right:-15px;}
.row:after,.rowx:after{clear:both;content:" ";display:table}

.input-group{position:relative;display:table;border-collapse:separate}
.input-group .form-control{position:relative;z-index:2;float:left;width:100%;margin-bottom:0;display:table-cell}
.input-group-btn{width:1%;white-space:nowrap;vertical-align:middle;display:table-cell}



.close{float:right;font-size:19.5px;font-weight:700;line-height:150%;color:#fbfbfb;text-shadow:0 1px 0 #fbfbfb;opacity:.2;filter:alpha(opacity=20)}
.close:hover,.close:focus{color:#fbfbfb;text-decoration:none;cursor:pointer;opacity:.5;filter:alpha(opacity=50)}
.modal{display:none;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;z-index:16;-webkit-overflow-scrolling:touch;outline:0}
.modal-dialog{width:330px;margin:120px auto;position:relative;background-color:#fbfbfb;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);background-clip:padding-box;outline:0}
.modal-backdrop{position:absolute;top:0;right:0;left:0;background-color:#000}
.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}
.modal-header{padding:10px;border-bottom:1px solid #e5e5e5;height:3em;color:#fbfbfb;background-color:#2c2e2f;}
.modal-header .close{font-size:2em;padding:0;cursor:pointer;background:0 0;border:0;line-height:60%;-webkit-appearance:none}
.modal-title{margin:0;}
.modal-body{position:relative;padding:0 15px}
.modal-footer{padding:5px;text-align:center;border-top:1px solid #e5e5e5}


#ti-home,#ti-menu{display:none!important}
#sidebar .logo-env:after{
    content: " ";
    display: table;
	clear: both
}
#sidebar #menu a{
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out;
}
#container {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}



#container .content {
    display: table-cell;
    position: relative;
    z-index: 1;
    padding: 30px 30px 0 30px;
    vertical-align: top;
    width: 100%;
	height:100%;
    word-break: break-word;
    -webkit-transition: opacity 100ms ease-in-out;
    -moz-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
}

#container .content:hover {z-index:6;}

#sidebar {
    display: table-cell;
    position: relative;
    width: 21em;
    z-index: 1;
	height:100%;
	text-align:left;
	direction:rtl;
}

#sidebar .logo-env {
    padding: 10px 15px 6px 10px;
    border-bottom: 1px solid #313437;
}
#sidebar .logo-env .logo {
    float: left
}
#sidebar .logo-expanded img{
    width:100%;
}
#sidebar .logo-collapsed img{
    width:40px;
}
#sidebar .logo-env .logo .logo-collapsed {
    display: none
}
#sidebar .logo-env .logo .logo-expanded {
    display: block;
}


#sidebar #menu {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    list-style: none;
	height:100%;
}


#sidebar #menu a {
    color: #979898;
    text-decoration: none;
    display: block;
	height:50px;
	line-height:46px;
	font-size:16px;
	overflow:hidden;
    border-bottom: 1px solid #313437
}

#sidebar #menu a>i {
    display: inline-block;
	width:25px;
}

#sidebar #menu a>i+span {
    padding-right: 10px
}

#sidebar #menu a>span {
    display: inline-block
}


#sidebar #menu a:hover {
    color: #fbfbfb
}

#sidebar #menu li.active>a {
    color: #fbfbfb
}

span.more:before,#sidebar #menu li.has-sub>a:before {
    position: relative;
    display: inline-block;
    font-family: FontAwesome;
    content: '\f107';
	font-size:17px;
    float: right;
    color: #6d747a;
    margin-left: 10px;
	margin-top:1px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

span.more.open:before,#sidebar #menu li.has-sub.expanded>a:before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


#sidebar #menu ul {
    display: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
	text-align:center;
}

.ti-arrow,.ti-arrow li a{
	cursor:default;
}
.ti-hand{
	cursor:pointer;
}
span.more{
	padding-right:5px;
	width:20px;
	float:right;
	cursor:pointer;
}
.ti-more{
	margin-right:7px;
	float:right;
	font-size:1em;
	cursor:pointer;
}
.btn{
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border:1px solid transparent;
	padding:6px 12px;
}
.btn-primary{
	height:35px;
	color:#fbfbfb;
	background-color:#2c2e2f;
	opacity:0.8;
}
.btn-primary:hover{
	background-color:#131415;
}
select,input.form-control{
	vertical-align:middle;
	height:35px;
	padding:6px 12px;
	border:1px solid #e4e4e4;
	font-size:17px;
	color:gray;
}
.form-control:focus,textarea:focus{
	border-color:rgba(104,184,40,.5);
	outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(104,184,40,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(104,184,40,.6)
}





footer.footer {
    border-top: 1px solid #ddd;
    margin-left: -30px;
    margin-right: -30px;
    background-color: #fcfcfc;
	position:absolute;
	bottom:0;
	width:100%;
	height:45px;
	line-height:44px;
}

.vcenter{
	line-height: 17px;
	padding-left:15px;
	width:100%;
	display: inline-block;
	vertical-align: middle;
}

footer.footer #go-up {
	position:fixed;
	bottom:0;
	right:30px;
	display:none;
}
footer.footer #go-up i{
	font-size:2.5em;
}

.user-info-navbar {
    background-color: #fbfbfb;
    border: 0;
    margin: -30px;
	position:fixed;
	z-index:3;
}
.user-info-navbar .user-info-menu>li {
    position: relative;
    float: left;
}

.user-info-navbar .user-info-menu>li>a {
    position: relative;
    display: block;
    padding:20px 15px;
    color: #979898;
    text-decoration: none;
}
.user-info-navbar .user-info-menu>li>a:hover {
    color: #606161
}

.user-info-navbar .user-info-menu>li>a i {
    font-size: 21px;
	color:#425c70;
    line-height: 1;
}

.content .navbar{
	width:100%;
	height: 60px;
	border-bottom:1px solid #dddddd;
}

#menu ul li{
	width:25.0%;
	float:left;
}



#ti-search {
  margin: 7px auto;
  width:400px;
  height:45px;
}
#ti-search input,#ti-search button {
	height:45px;
	font-size:17px;
}
#ti-search input{
	padding-left:45px;
}
#ti-search button {
	width:80px;
}

#ti-search button:hover,.btn-primary:hover,.tooltip.in{opacity:.8;}

#ti-search img{
	width:35px;
	height:35px;
	cursor:pointer;
}
#ti-icon{
	position:absolute;
	top:5px;
	left:7px;
	z-index:7;
}
#ti-engine{
	position:absolute;
	top:0;
	display:none;
	left:7px;
	z-index:7;
	padding:4px 0;
	background-color:#fbfbfb;
	overflow:hidden;
	border:1px solid #e4e4e4;
	border-left:none;
}
#ti-engine li{
	height:35px;
	margin-right:9px;
	display:block;
	float:left;
}

#box{
	position:absolute;
	background-color:#fbfbfb;
	height:auto;
	border:1px solid #e4e4e4;
	border-top:none;
	left:0;
	z-index:7;
	width:100%;
	display:none;
	top:45px;
}
#box li{
	float:left;
	z-index:9;
	width:100%;
	font-size:15px;
	border-top:1px solid #e4e4e4;	
	cursor:default;
}
#box li:hover{
	background-color:#009f5d;
	color:#fbfbfb;
}
#box li span{
	display:block;
	height:36px;
	line-height:300%;
	padding-right:25px;
	overflow:hidden;
	cursor:pointer;
}
#box li i{
	float:right;
	height:36px;
	margin-top:-32px;
	padding:8px;
	font-size:17px;
}
#box li:before{
	font-family:FontAwesome;
	content:"\f002";
	width:30px;
	text-align:center;
	padding-top:12px;
	font-size:15px;
	height:30px;
	float:left;
}
#box li:first-child{
	border-top:none;
}

/* 网址提示信息 */
.tooltip{position:absolute;font-size:13px;z-index:6;}
.tooltip.bottom{padding:5px 0}
.tooltip-inner{max-width:200px;padding:6px 10px;color:#fbfbfb;text-align:center;text-decoration:none;background-color:#000;}
.tooltip-arrow{position:absolute;border-color:transparent;border-style:solid}
.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000}

.row,.rowx{
	height:35px;
	overflow:hidden;
}
.row li,.rowx li{
	height:27px;
	float:left;
    cursor: pointer;
	text-align:center;
    padding:2px 6px;
	font-size:17px;
	margin:2px auto 6px auto;
	overflow:hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.row li:hover,.rowx li:hover{
	color:#444;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
}
.row li img,.rowx li img{
	width:17px;
	height:17px;
	margin-right:2px;
	margin-top:-3px;
	vertical-align:middle;
}
.show{
	height:auto;
	background-color:#f2f2f2;
}
#ti-meng.ti-meng{
	width:100%;
	height:100%;
	position:absolute;
	background-color:gray;
	top:0;
	left:0;
	z-index:10;
	opacity:.3;
}
.c1{color:#8cc540} /* 浅绿 */
.c2{color:#009f5d} /* 深绿 */
.c3,h4,h4 a{color:#019fa0} /* 暗蓝 */
.c4{color:#019fde} /* 蓝色 */
.c5{color:#007cdc} /* 深蓝 */
.c6{color:#887ddd} /* 深紫 */
.c7{color:#cd7bdd} /* 浅紫 */
.c8{color:#ff5675} /* 粉色 */
.c9{color:#ff1244} /* 红色 */
.c0{color:#ff8345} /* 橙色 */
.bg1{background-color:#8cc540;color:#fbfbfb}
.bg2{background-color:#009f5d;color:#fbfbfb}
.bg3{background-color:#019fa0;color:#fbfbfb}
.bg4{background-color:#019fde;color:#fbfbfb}
.bg5{background-color:#007cdc;color:#fbfbfb}
.bg6{background-color:#887ddd;color:#fbfbfb}
.bg7{background-color:#cd7bdd;color:#fbfbfb}
.bg8{background-color:#ff5675;color:#fbfbfb}
.bg9{background-color:#ff1244;color:#fbfbfb}
.bg0{background-color:#ff8345;color:#fbfbfb}

[class*=fa-] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
ul.ti-ads{
	overflow:hidden;
	height:60px;
}
ul.ti-ads li{
	display:inline;
	font-size:1.2em;
	line-height:3.8em;
	margin-left:10px;
	font-weight:700;
}
ul.ti-ads li.cur a{
	font-weight:700;
	color:#019fde;
}

#info img{
	width:18px;
	margin-bottom:-3px;
}
.ti-fix{
	width:22.5em;
	text-align:left;
	position:fixed;
	top:0;
	bottom:0;
	margin-left:-20px;
	padding-left:20px;
	overflow-y:scroll;
	direction:rtl;
	background-color:#2c2e2f;
	scrollbar-width: none;
}
.ti-fix::-webkit-scrollbar{
	display:none;
}
/**
自适应栅格
**/
@media screen and (max-width:767px) {
	#ti-home,#ti-menu{display:block!important;}
	.modal-dialog{max-width:100%;}
	#ti-side,#sidebar{
		z-index:8;
		display:none;
	}
	#ti-home a{
		margin-left:-5px;
		padding-left:0;
		padding-right:10px;
	}
    #sidebar.mobile{
        display: block;
    }
}


@media screen and (min-width:768px) {
	#ti-meng.ti-meng{display:none}
    #sidebar.collapsed {
        width: 80px;
        z-index:5;
        text-align: center;
    }
	#sidebar.collapsed .ti-fix{
		width:100px;
		text-align:center;
	}
	#sidebar.collapsed .ti-hand:after{
		font-family: FontAwesome;
		position:absolute;
		right:20%;
		content: '\f107';
		padding-top:5px;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		-webkit-transition: all 150ms ease-in-out;
		-moz-transition: all 150ms ease-in-out;
		-o-transition: all 150ms ease-in-out;
		transition: all 150ms ease-in-out
	}
    #sidebar.collapsed .logo-env .logo-collapsed {
        display: block;
    }

    #sidebar.collapsed .logo-env .logo-expanded{
        display: none
    }

    #sidebar.collapsed .logo-env .logo {
        float: none;
		margin-left:7px;
    }
    #sidebar.collapsed #menu {
        padding-left: 0;
        padding-right: 0;
    }
    #sidebar.collapsed #menu>li {
        position: relative;
    }
    #sidebar.collapsed #menu>li.active,
    #sidebar.collapsed #menu>li li.active {
        background-color: #252627;
    }

    #sidebar.collapsed #menu>li>a>i {
        margin-right: 0;
		font-size:1.3em;
		line-height:2.5em;
    }
    #sidebar.collapsed #menu>li>a>span {
        display: none
    }
    #sidebar.collapsed #menu>li.has-sub>a:before {
        display: none
    }
    #sidebar.collapsed #menu>li>ul {
        position: absolute;
        background-color: #2c2e2f;
        width: 19em;
		top:0;
		left:100%;
    }
    #sidebar.collapsed .ti-fix #menu>li>ul {
        position: fixed;
		top:auto;
    }
    #sidebar.collapsed #menu>li:hover>ul {
        display: block;
    }
}
@media screen and (max-width:467px){ /** 3,4 **/
	.rowx li{width:33.33333333%}
	.row li{width:25.0%}
	#ti-search{
		width:280px;
	}
}
@media screen and (min-width:468px) and (max-width:567px){ /** 3,4 **/
	.rowx li{width:33.33333333%}
	.row li{width:20.0%}
}
@media screen and (min-width:568px) and (max-width:667px){ /** 4,6 **/
	.rowx li{width:25.0%}
	.row li{width:16.66666667%}
}
@media screen and (min-width:668px) and (max-width:767px){ /** 4,7 **/ 
	.rowx li{width:25.0%}
	.row li{width:14.28571428%}
}
@media screen and (min-width:768px) and (max-width:867px){ /** 3,4 **/
	.rowx li{width:33.33333333%}
	.row li{width:25.0%}
}
@media screen and (min-width:868px) and (max-width:967px){ /** 3,5**/
	.rowx li{width:33.33333333%}
	.row li{width:20.0%}
}
@media screen and (min-width:968px) and (max-width:1067px){ /** 4,6 **/
	.rowx li{width:25.0%}
	.row li{width:16.66666667%}
}
@media screen and (min-width:1068px) and (max-width:1167px){ /** 4,7 **/
	.rowx li{width:25.0%}
	.row li{width:14.28571428%}
}
@media screen and (min-width:1168px) and (max-width:1267px){ /** 5,8 **/
	.rowx li{width:20.0%}
	.row li{width:12.5%}
}
@media screen and (min-width:1268px) and (max-width:1367px){ /** 5,9 **/
	.rowx li{width:20.0%}
	.row li{width:11.11111111%}
}
@media screen and (min-width:1368px) and (max-width:1467px){ /** 6,10 **/
	.rowx li{width:16.66666667%}
	.row li{width:10.0%}
}
@media screen and (min-width:1468px) and (max-width:1567px){ /** 6,11 **/
	.rowx li{width:16.66666667%}
	.row li{width:9.09090909%}
}
@media screen and (min-width:1568px) and (max-width:1667px){ /** 7,12 **/
	.rowx li{width:14.28571428%}
	.row li{width:8.33333333%}
}
@media screen and (min-width:1668px) and (max-width:1767px){ /** 7,13 **/
	.rowx li{width:14.28571428%}
	.row li{width:7.69230769%}
}
@media screen and (min-width:1768px) and (max-width:1867px){ /** 8,14 **/
	.rowx li{width:12.5%}
	.row li{width:7.14285714%}
}
@media screen and (min-width:1868px){ /** 8,15 **/
	.rowx li{width:12.5%}
	.row li{width:6.66666667%}
}



/**
end of 自适应栅格
**/
