*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{
	font-size:13px;
	-webkit-tap-highlight-color:transparent;
	height:100%;
}
body{
	height: 100%;
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
	color:#2c2e2f;
	background-color: #f2f2f2;
	margin: auto;
	border: none;
}
input,textarea{
	1font-family:inherit;
}
center{
	font-size:15px;
	font-weight:700;
}
form p{margin:10px auto;padding:0;}
form label{font-size:16px;font-weight:700;color:gray}
form select{height:35px;padding:0 0 0 10px;}
p strong{color:red;}
form p span{color:gray;}
a{color:gray;text-decoration:none;outline: 0!important}
a:hover{color:#444;}

h4,h3{
	font-family:inherit;
	line-height:150%;
	font-size:17px;
	font-weight:700;
}
h4{
	height:36px;
	border-radius:15px 15px 0 0;
	background-color:#e0e0e0;
	padding-bottom:0;
	padding-top:1px;
	margin:6px auto 0px auto;

}
h4>a{
	cursor:pointer;
}
h3,h5{
	margin:10px 10px 0 10px;
	font-weight:700;
}
div.rowx h3,div.ti-fwb h3,div.rowx h4,div.ti-fwb h4{
	margin:10px 10px 0 10px;
	font-weight:700;
	background:none;
	padding:0;
	height:auto;
}
ul,ol{
  list-style: none;
  margin: 0;
  padding: 0
}
.ti-fwb ol,.ti-fwb ul{
  margin-left:10px;
}
pre,blockquote{border:1px solid #ccc;page-break-inside:avoid;margin:10px 5px 0 5px;padding:5px 5px 5px 10px;}

blockquote{border-left:5px solid #ddd;border-color:rgba(0,0,0,0.15);}

pre{font-family:Monaco,Menlo,Consolas,"Courier New",monospace;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;display:block;word-break:break-all;word-wrap:break-word;white-space:pre;white-space:pre-wrap;background-color:#f5f5f5;}

.modal input[type=radio]{
	margin:8px 1px;

}
.logo img{border:none;}
.ti-sou{
	margin-top:8px;
}
.ti-block{display:block;}
.ti-sou,h4,h3,.row{margin-left:-15px;margin-right:-15px;}
.row:after{clear:both;content:" ";display:table}

.input-group{position:relative;display:table;border-collapse:separate}
.input-group .form-control{position:relative;z-index:2;float:left;width:100%;margin-left:2px;padding-right:27px;margin-bottom:0;display:table-cell}
.input-group-btn{width:1%;white-space:nowrap;vertical-align:middle;display:table-cell}

#del{
	position:absolute;
	font-size:20px;
	text-align:center;
	line-height:230%;
	height:100%;
	right:80px;
	z-index:4;
	display:none;
	color:#bababa;
	padding-right:4px;
	cursor:pointer;
}

.close{float:right;font-size:19.5px;font-weight:700;line-height:150%;color:#fbfbfb;text-shadow:0 1px 0 #fbfbfb;opacity:.2;filter:alpha(opacity=20)}
.close:hover,.close:focus{color:#fbfbfb;text-decoration:none;cursor:pointer;opacity:.5;filter:alpha(opacity=50)}
.modal{display:none;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;z-index:16;-webkit-overflow-scrolling:touch;outline:0}
.modal-dialog{width:330px;margin:120px auto;position:relative;background-color:#fbfbfb;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);background-clip:padding-box;outline:0}
.modal-backdrop{position:absolute;top:0;right:0;left:0;background-color:#000}
.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}
.modal-header{padding:5px 5px 10px 10px;border-bottom:1px solid #e5e5e5;height:3em;color:#fbfbfb;background-color:#2c2e2f;}
.modal-header .close{font-size:2em;padding:0;cursor:pointer;background:0 0;margin-right:5px;border:0;line-height:1.2em;-webkit-appearance:none}
.modal-title{margin:0;}
.modal-body{position:relative;padding:0 15px;font-size:16px;}
.modal-footer{padding:5px;text-align:center;border-top:1px solid #e5e5e5}


#ti-home,#ti-menu{display:none!important}
#sidebar .logo-env:after{
    content: " ";
    display: table;
	clear: both
}
#menu a{
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out;
}
#container {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}



#container .content {
    display: table-cell;
    position: relative;
    z-index: 1;
    padding: 30px 30px 0 30px;
    vertical-align: top;
    width: 100%;
	height:100%;
    word-break: break-word;
    -webkit-transition: opacity 100ms ease-in-out;
    -moz-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
	margin-bottom:-10px;
}

#container .content:hover {z-index:6;}

#sidebar {
    display: table-cell;
    position: relative;
    width: 21em;
    z-index: 11;
	text-align:left;
}

#sidebar .logo-env {
    padding: 11px 15px 7px 10px;
    border-bottom: 1px solid #313437;
}
#sidebar .logo-env .logo {
    float: left
}
#sidebar .logo-expanded img{
    width:100%;
}
#sidebar .logo-collapsed img{
    width:40px;
}
#sidebar .logo-env .logo .logo-collapsed {
    display: none
}
#sidebar .logo-env .logo .logo-expanded {
    display: block;
}


#menu {
    padding-left: 20px;
    padding-right: 20px;
    1list-style: none;
	height:auto;
}


#menu a {
    color: #979898;
    text-decoration: none;
    display: block;
	height:45px;
	line-height:40px;
	font-size:16px;
	overflow:hidden;
    border-bottom: 1px solid #313437
}

#menu a>i {
    display: inline-block;
	width:25px;
}

#menu a>i+span {
    padding-right: 10px
}

#menu a>span {
    display: inline-block
}


#menu li span:hover,#menu li strong:hover,#menu li a:hover {
    color: #fbfbfb
}

#menu li.active a {
    color: #fbfbfb
}
#sidebar #menu li.has-sub>a:before {
    float: right;
}
.more:before,#sidebar #menu li.has-sub>a:before {
    position: relative;
    display: inline-block;
    font-family: FontAwesome;
    content: '\f107';
	font-size:17px;
    margin-left: 5px;
	margin-top:2px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}
.open .more:before,#sidebar #menu li.has-sub.expanded>a:before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#menu ul {
    display: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    1list-style: none;
	text-align:center;
}

.ti-arrow,.ti-arrow li a{
	cursor:default;
}
.ti-hand{
	cursor:pointer;
}
.ti-more{
	float:right;
	cursor:pointer;
}

h4 .ti-more{
	font-size:0.8em;
}
.btn{
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border:1px solid transparent;
	padding:6px 12px;
}
.btn-gray,.btn-primary{
	height:35px;
	color:#fbfbfb;
	background-color:#2c2e2f;
	opacity:0.8;
}
.btn-gray{
	background-color:gray;
	cursor:default;
}
.btn-primary:hover{
	background-color:#131415;
}
.form-control,textarea{
	vertical-align:middle;
	padding:6px 12px;
	border:1px solid #e4e4e4;
	font-size:17px;
	color:gray;
	background-color:#fff;
}
.form-control:focus,textarea:focus{
	border-color:rgba(104,184,40,.5);
	outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(104,184,40,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(104,184,40,.6)
}
select,input.form-control{
	height:35px;
}

footer.footer {
    border-top: 1px solid #ddd;
    margin-left: -30px;
    margin-right: -30px;
    background-color: #fcfcfc;
	position:absolute;
	bottom:0;
	width:100%;
	height:45px;
	line-height:42px;
	clear:both;
}

.vcenter{
	line-height: 1.5em;
	padding-left:15px;
	padding-right:15px;
	width:100%;
	display: inline-block;
	vertical-align: middle;
}

footer.footer #go-up {
	position:fixed;
	bottom:0;
	right:30px;
	display:none;
}
footer.footer #go-up i{
	font-size:2.5em;
}

.user-info-navbar {
    background-color: #fcfcfc;
    border: 0;
    margin: -30px;
	position:fixed;
	z-index:3;
}
.user-info-navbar .user-info-menu>li {
    position: relative;
    float: left;
}

.user-info-navbar .user-info-menu>li>a {
    position: relative;
    display: block;
    padding:21px 15px;
    color: #979898;
    text-decoration: none;
}
.user-info-navbar .user-info-menu>li>a:hover {
    color: #606161
}

.user-info-navbar .user-info-menu>li>a i {
    font-size: 21px;
	color:#425c70;
    line-height: 1;
}

.content .navbar{
	width:100%;
	height: 62px;
	border-bottom:1px solid #dddddd;
}

#menu ul li{
	width:25.0%;
	float:left;
}
.searchs {
  margin: 8px auto;
  width:400px;
  height:45px;
}
.searchs input,.searchs button {
	height:45px;
	font-size:17px;
}
.searchs input{
	padding-left:45px;
	background-color:#fefefe;
}
.searchs button {
	width:80px;
}

.searchs button:hover,.btn-primary:hover,#del:hover{opacity:.8;}

.searchs img{
	width:35px;
	height:35px;
	cursor:pointer;
}
#ti-icon{
	position:absolute;
	top:5px;
	left:7px;
	z-index:7;
}
#ti-engine{
	position:absolute;
	top:0;
	display:none;
	left:0px;
	z-index:17;
	padding:4px 0 0 6px;
	background-color:#fefefe;
	overflow:hidden;
	border:1px solid #e4e4e4;
	max-width:255px;
}
#ti-engine li{
	height:35px;
	display:block;
	float:left;
	margin:0 6px 4px 0;
}

#box{
	position:absolute;
	background-color:#fbfbfb;
	height:auto;
	border:1px solid #e4e4e4;
	border-top:none;
	left:0;
	z-index:7;
	width:100%;
	display:none;
	top:45px;
}
#box li{
	float:left;
	z-index:9;
	width:100%;
	font-size:15px;
	border-top:1px solid #e4e4e4;	
	cursor:default;
}
#box li:hover{
	background-color:#009f5d;
	color:#fbfbfb;
}
#box li span{
	display:block;
	height:35px;
	line-height:230%;
	padding-right:25px;
	overflow:hidden;
	cursor:pointer;
}
#box li i{
	float:right;
	margin-top:-34px;
	padding:8px 8px 8px 16px;
	font-size:17px;
}
#box li:before{
	font-family:FontAwesome;
	content:"\f002";
	width:30px;
	text-align:center;
	padding-top:9px;
	font-size:15px;
	height:30px;
	float:left;
}
#box li:first-child{
	border-top:none;
}


.ti-ulbg{
	background-color:#e0e0e0;
	padding-bottom:4px;
	display:block;
	margin:auto -15px;
	border-radius:0 0 10px 10px;
	font-size:17px;
}
.ti-ulbg a{color:#3e403e;}
.row,.rowx,.rowso{
	margin:0 4px;
	overflow:hidden;
	border-radius: 0 10px 10px 10px;
}

h4>a,.tablink,#records,ul.show,.row,.rowx,.rowso{
	background-color:#f9f9f9;
}
.rowx,.rowso{
	padding:0 6px 5px 6px;
}
ul.row,ul.rowx{	
	max-height:112px;
	padding-right:6px;
}
.row li,.rowx li,.rowso li{
    padding:4px 6px;
	float:left;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.rowso li{
	line-height:170%;
	width:100%;
}
.row li,.rowx li{
	overflow:hidden;
	margin:2px auto 6px auto;
}
#records li,#records0 li,#records1 li,#records2 li,#records3 li,#records4 li,#records5 li{
	height:27px;
	text-align:center;
	color:#2c2e2f;
}
ul.rowx li{
	height:27px;
}
div.rowx li{
	height:auto;
}

.row li{
	height:48px;
    cursor: pointer;
	white-space: nowrap;
	padding-left:12px;
}

.row li p{
	margin:0;
	padding:0;
	font-size:14px;
	line-height:150%;
}
.row li p,.row li>a,.row li>span{
	height:22px;
	word-wrap:break-word;
	word-break:break-all;
	white-space:normal;
	overflow:hidden;
	display:block;
}
.row li p a,.row li p{
	color:darkgray;
}
.row li p a:hover,.row li p:hover{
	color:gray;
}
.rowx li{
	width:50%;
}
.rowx ul{
	margin-top:5px;
	overflow:hidden;
}
.rowx ul li{
    padding:2px 6px;
	margin:2px auto 0 auto;
}
div.ti-fwb h4,div.ti-fwb h2,.rowx h2{
	color:#007cdc;
	margin:12px 6px 0 6px;
}
.rowx p{
	margin-top:10px;
	margin-bottom:0;
    padding:0 6px;
	line-height:160%;
}
div.rowx a,.rowso li a{
	font-weight:700;
	color:#009f5d;
}

.rowx p img,.rowx p audio,.rowx p video{
	display:block;
	max-width:100%;
}

.rowx table{
	margin:0 6px;
	border-collapse:collapse;
}
.rowx table, .rowx td,.rowx th{
  border:2px solid gray;
  padding:5px;
}


.row li span{
	line-height:1.2em;
}
.rowx li span:hover,.rowx li strong:hover,.rowso a:hover,.rowx a:hover,.row li span:hover,.row li strong:hover{
	color:#771caa;font-weight:700;
}

div.rowx ol{
	margin:0 4px;
	overflow:hidden;
	background-color:#f2f2f2;
	border-radius: 0 10px 10px 10px;
	padding:0;
}

div.rowx ol li{
    padding:2px 6px;
	margin:2px auto 0 auto;
}

h4 img,.row li img,.rowx li img,.rowso li img{
	width:17px;
	height:17px;
	margin-right:2px;
	margin-top:-3px;
	vertical-align:middle;
}

ul.show{
	max-height:none;
	1background-color:#f2f2f2;
}
#ti-meng.ti-meng{
	width:100%;
	height:100%;
	position:absolute;
	background-color:gray;
	top:0;
	left:0;
	z-index:10;
	opacity:.3;
}
#list dl dd img{
	width:20px;
	margin-bottom:-4px;
}


.de,li .de,li.de{
	text-decoration:line-through;
	color:darkgray;
}


/* scrollable menus */
.ti-scroll {
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	margin:auto 4px;
	border-radius:15px 15px 0 0;
	margin-top:3px;
}
::-webkit-scrollbar{/*隐藏滚轮*/
	display:none;
}
#scroll{
	margin-bottom:-17px;
	height:52px;
}
.ti-scroll li{
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	margin:0;
}
h4 a,.ti-scroll li a{display:inline-block;padding:3px 12px 4px 12px;cursor:pointer;}
h4>a:hover,.ti-scroll li a:hover,a.open{color:#ff8345;background-color:#f9f9f9;}


#records{
	border-radius:0 10px 10px 10px;
	padding-top:3px;
}
.menushow{
	max-height:none;
}
h4>a{
	margin:3px -4px 0 4px;
	border-radius: 10px 10px 0 0;
	1background-color:#f2f2f2;
}
.tablink{1background-color:#f2f2f2;}
.tablink,.ti-scroll  li,.open,.ti-scroll li a{
	border-radius: 15px 15px 0 0;
}
.row li,.rowx li a{1color:#777777;}
.hidden{display:none;}
.c1{color:#8cc540} /* 浅绿 */
.c2{color:#009f5d} /* 深绿 */
.c3,h4,h4 a,h5,h3 a,div.rowx h4,div.ti-fwb h4{color:#019fa0} /* 暗蓝 */
.c4,div.rowx h3,div.ti-fwb h3{color:#019fde} /* 蓝色 */
.c5{color:#007cdc} /* 深蓝 */
.c6{color:#887ddd} /* 深紫 */
.c7{color:#cd7bdd} /* 浅紫 */
.c8{color:#ff5675} /* 粉色 */
.c9{color:#ff1244} /* 红色 */
.c10{color:#ff8345} /* 橙色 */
.c0{color:#2c2e2f} /* 默认颜色 */
.bg1{background-color:#8cc540;color:#fbfbfb}
.bg2{background-color:#009f5d;color:#fbfbfb}
.bg3{background-color:#019fa0;color:#fbfbfb}
.bg4{background-color:#019fde;color:#fbfbfb}
.bg5{background-color:#007cdc;color:#fbfbfb}
.bg6{background-color:#887ddd;color:#fbfbfb}
.bg7{background-color:#cd7bdd;color:#fbfbfb}
.bg8{background-color:#ff5675;color:#fbfbfb}
.bg9{background-color:#ff1244;color:#fbfbfb}
.bg10{background-color:#ff8345;color:#fbfbfb}
.bg0{background-color:#2c2e2f;color:#fbfbfb}
[class*=fa-] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
ul.ti-ads{
	overflow:hidden;
	height:60px;
}
ul.ti-ads li{
	display:inline;
	font-size:1.2em;
	line-height:4.1em;
	margin-left:10px;
	font-weight:700;
}
ul.ti-ads li.cur a{
	font-weight:700;
	color:#019fde;
}
#soso{
	font-size:20px;
	padding:0.85em;
	float:right;
	display:none;
}
#info img{
	width:18px;
	height:18px;
}
#pages #info img{
	margin-bottom:-4px;
}
.ti-scroll #info img{
	margin-top:-8px;
}
.ti-fix{
	width:22.5em;
	text-align:left;
	position:fixed;
	top:0;
	bottom:0;
	margin-left:-20px;
	padding-left:20px;
	overflow-y:auto;
	direction:rtl;
	background-color:#2c2e2f;
	scrollbar-width: none;
}

/**
自适应栅格
**/
@media screen and (max-width:767px) {
	#ti-home,#ti-menu{display:block!important;}
	.modal-dialog{max-width:100%;}
	#ti-side,#sidebar{
		z-index:8;
		display:none;
	}
	#ti-home a{
		margin-left:-5px;
		padding-left:0;
		padding-right:10px;
	}
    #sidebar.mobile{
        display: block;
    }
	.rowx li{
		width:100%;
	}
}


@media screen and (min-width:768px) {
	#ti-meng.ti-meng{display:none}
    #sidebar.collapsed {
        width: 80px;
        z-index:5;
        text-align: center;
    }
	#sidebar.collapsed .ti-fix{
		width:100px;
		text-align:center;
	}
	#sidebar.collapsed .ti-hand:after{
		font-family: FontAwesome;
		position:absolute;
		right:20%;
		content: '\f107';
		padding-top:5px;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		-webkit-transition: all 150ms ease-in-out;
		-moz-transition: all 150ms ease-in-out;
		-o-transition: all 150ms ease-in-out;
		transition: all 150ms ease-in-out
	}
    #sidebar.collapsed .logo-env .logo-collapsed {
        display: block;
    }

    #sidebar.collapsed .logo-env .logo-expanded{
        display: none
    }

    #sidebar.collapsed .logo-env .logo {
        float: none;
		margin-left:7px;
    }
    #sidebar.collapsed #menu {
        padding-left: 0;
        padding-right: 0;
    }
    #sidebar.collapsed #menu>li {
        position: relative;
    }
    #sidebar.collapsed #menu>li.active,
    #sidebar.collapsed #menu>li li.active {
        background-color: #252627;
    }

    #sidebar.collapsed #menu>li>a>i {
        margin-right: 0;
		font-size:1.3em;
		line-height:2.2em;
    }
    #sidebar.collapsed #menu>li>a>span {
        display: none
    }
    #sidebar.collapsed #menu>li.has-sub>a:before {
        display: none
    }
    #sidebar.collapsed #menu>li>ul {
        position: absolute;
        background-color: #2c2e2f;
        width: 19em;
		top:0;
		left:100%;
    }
    #sidebar.collapsed .ti-fix #menu>li>ul {
        position: fixed;
		top:auto;
    }
    #sidebar.collapsed #menu>li:hover>ul {
        display: block;
    }
}
@media screen and (max-width:330px){ /** 2,3 **/
	.row li{width:50.0%}
	.searchs{
		width:100%;
		margin-top:-2px;
		display:none;

	}
	#soso{
		display:inline;
	}
}
@media screen and (min-width:331px) and (max-width:667px){ /** 3,4 **/ 
	.row li{width:33.33333333%}
	.searchs{
		width:280px;
	}
}
@media screen and (min-width:668px) and (max-width:767px){ /** 3,4 **/ 
	.row li{width:25.0%}
}
@media screen and (min-width:768px) and (max-width:967px){ /** 2,3 **/
	.row li{width:33.33333333%}
	.rowx li{
		width:100%;
	}
}
@media screen and (min-width:968px) and (max-width:1167px){ /** 3,4 **/
	.row li{width:25.0%}
}
@media screen and (min-width:1168px) and (max-width:1367px){ /** 4,5 **/
	.row li{width:20.0%}
}
@media screen and (min-width:1368px) and (max-width:1567px){ /** 5,6 **/
	.row li{width:16.66666667%}
}
@media screen and (min-width:1568px) and (max-width:1767px){ /** 6,7 **/
	.row li{width:14.28571428%}
}
@media screen and (min-width:1768px) and (max-width:1867px){ /** 7,8 **/
	.row li{width:12.5%}
}
@media screen and (min-width:1868px){ /** 8,9 **/
	.row li{width:11.11111111%}
}
/**
end of 自适应栅格
**/
/*
富文本专用
*/
.ti-fwb .form-control{
	min-height:12em;
}
/*
bbs 和后台专用CSS
*/
#text{
	width:100%;
	border:1px solid #e4e4e4;
	padding:10px;
	font-size:17px;
}
#scodeimg{
	width:90px;
	height:35px;
	float:left;
	cursor:pointer;
}
dl{
	margin:0 0 10px 0;
	padding:0;
	border:1px solid #444;
	background-color:#fbfbfb;
}
dl dt{
	padding:10px 0;
	background-color:#2c2e2f;
	color:#fbfbfb;
	font-weight:700;
	font-size:1em;
}
dl dt strong{
	margin:auto 10px;
}
dl dd{
	padding:8px 10px;
	font-size:17px;
	margin:auto;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
dl dd:hover{
	background-color:#e4e4e4;
}
#pages{
	margin:12px auto 10px;
}
#login{
	text-align:center;
	padding-top:120px;
}
#login input{
	width:250px;
	border-color:gray;
}

#login h2{
	background-color:#444;
	margin-top:0;
	color:#fbfbfb;
	padding-top:5px;
	padding-bottom:10px;

}
#logoform{
	width:330px;
	margin:0 auto;
	padding-bottom:10px;
	border:1px solid #444;
}
#logoform .pcode{
	width:280px;
	margin:0 auto;
}
a.btn{
	color:#fbfbfb;
}